<div class="d-flex align-items-center justify-content-center">
	<div class="row w-100">
        <div class="col-md-8 mx-auto">
            <div class="bg-secondary text-white p-4 rounded shadow">
                <h2 class="text-center mb-4">Order Form - Shipping Information</h2>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="shippingDetails" class="form-label">Shipping Details</label>
                            <textarea class="form-control" id="shippingDetails" rows="3" placeholder="Anything we should inform the shipping company about?"></textarea>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="shippingType" class="form-label">Shipping Type</label>
                            <select class="form-select" id="shippingType" required>
                                <option selected value="0" disabled>Choose...</option>
                                <option value="standard">Standard Shipping</option>
                                <option value="express">Express Shipping (+15$)</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-light mt-3" id="confirm-shipping-data">Checkout</a>
                    </div>
            </div>
        </div>
    </div>
</div>
