<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.or" data-bs-theme="dark">
<head>
<meta charset="UTF-8">
<title>Admin Panel - Developer List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="/css/admin_styles.css" rel="stylesheet">
</head>
<body>
		<span th:insert="fragments/general.html :: menu"></span>
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Admin Dashboard - Developer List</h1>
				</div>
				
				
				<div class="bg-body rounded shadow-sm">
					<div class="d-flex text-body-primary pt-3" th:each="dev: ${devs}">
					  <div class="square-img rounded flex-shrink-0 mx-2"></div>
				      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
				      	<div class="d-flex">
				          <strong class="text-gray-dark me-auto" th:text="${dev.dev_name}"></strong>
				          <a th:href="@{${'dev-edit-form?dev_id='+dev.dev_id}}" class="btn btn-warning btn-sm ms-auto me-2">Edit</a>
				          <a th:href="@{${'dev-delete?dev_id='+dev.dev_id}}" class="btn btn-danger btn-sm me-2">Delete</a>
				        </div>
				        <span class="d-block" th:text="${dev.dev_info}"></span>
				      </div>
				    </div>
				</div>				
			</main>
		</div>
		</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>