<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.or" data-bs-theme="dark">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<span th:fragment="menu">
		<!-- Navbar -->
		<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
			<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="../admin/">Heartbit Games</a>
		
			<ul class="navbar-nav flex-row d-md-none">
			<li class="nav-item text-nowrap">
				<button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
				Menu
				</button>
			</li>
			</ul>
		</header>

		<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
				<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu">
					
					<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="sidebarMenuLabel">Admin Panel</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"></button>
					</div>

					<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
						<span>Products</span>
					</h6>
					<ul class="nav flex-column">
						<li class="nav-item dropdown">
							<a class="nav-link d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="collapse" data-bs-target="#collapsedgameoptions" href="#">
								Videogames
							</a>
							<ul class="collapse bg-dark-subtle" id="collapsedgameoptions">
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="videogames-list">Videogame List</a> </li>
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="videogames-create-form">Add Videogame</a> </li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="collapse" data-bs-target="#collapsedtagoptions" href="#">
								Tags
							</a>
							<ul class="collapse bg-dark-subtle" id="collapsedtagoptions">
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="tag-list">Tag List</a> </li>
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="tag-create-form">Add Tag</a> </li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="collapse" data-bs-target="#collapseddevoptions" href="#">
								Developers
							</a>
							<ul class="collapse bg-dark-subtle" id="collapseddevoptions">
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="dev-list">Developer List</a> </li>
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="dev-create-form">Add Developer</a> </li>
							</ul>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
						<span>Customers</span>
					</h6>
					<ul class="nav flex-column mb-auto">
						<li class="nav-item dropdown">
							<a class="nav-link d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="collapse" data-bs-target="#collapseduseroptions" href="#">
								Users
							</a>
							<ul class="collapse bg-dark-subtle" id="collapseduseroptions">
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="user-list">User List</a> </li>
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="user-create-form">Add User</a> </li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="collapse" data-bs-target="#collapsedorderoptions" href="#">
								Orders
							</a>
							<ul class="collapse bg-dark-subtle" id="collapsedorderoptions">
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="order-list">Order List</a> </li>
								<li class="nav-item"> <a class="nav-link d-flex align-items-center gap-2" href="order-create-form">Create Order</a> </li>
							</ul>
						</li>
					</ul>

					<hr class="my-3">

					<ul class="nav flex-column mb-auto">
						<li class="nav-item">
						<a class="nav-link d-flex align-items-center gap-2" href="../">
							Sign out
						</a>
						</li>
					</ul>

					</div>
				</div>
			</div>
	<!-- Remember to close the div row-->
	</span>
</body>
</html>